@import 'styles/vars.scss';

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding-top: 120px;
  padding-bottom: 120px;

  @media (max-width: $bp-sm) {
    padding-top: 120px;
    padding-bottom: 120px;
  }
}

.header {
  text-align: center;
}

.subtext {
  text-align: center;
}

.tabs {
  margin-top: 80px;
  margin-bottom: 40px;
  border: 1px solid rgba(0, 0, 0, 0.06);
  border-radius: 60px;
  background-color: var(--wh-white);
  padding: 8px;
  display: flex;

  @media (max-width: $bp-sm) {
    margin-top: 40px;
    margin-bottom: 20px;
  }
}

.tab {
  padding: 8px 16px;
  background-color: var(--wh-white);

  border-radius: 60px;
  cursor: pointer;

  & .text {
    color: var(--wh-steel-60) !important;
    font-weight: 500 !important;
  }

  &:hover {
    background-color: var(--wh-neutral-0);
  }

  &.active {
    background-color: var(--wh-blue-5);

    & .text {
      color: var(--wh-blue-70) !important;
    }
  }
}

.text {
  margin-top: 0px;
}

.items {
  gap: 24px;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

  @media (max-width: $bp-md) {
    grid-template-columns: 1fr;
  }
}

.item {
  display: flex;
  flex-direction: column;
  width: 100%;
  border-radius: 16px;
  border: 2px solid var(--wh-black);
  padding: 24px;
  background-color: var(--wh-white);
}

.type {
  font-size: 20px;
}

.itemSubtext {
  margin-top: 12px;
  color: var(--wh-steel-70);
}

.itemPrice {
  display: flex;
  margin-top: 32px;
  align-items: flex-end;
  line-height: 48px;
}

.price {
  font-size: 40px;
  font-weight: 500;
}

.monthOrYear {
  color: var(--wh-steel-70);
  font-size: 16px;
  line-height: 24px;
  margin-left: 8px;
  transform: translateY(-4px);
}

.save {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  padding: 4px 8px;
  background-color: var(--wh-blue-5);
  color: var(--wh-blue-90);
  height: 24px;
  margin-left: 8px;
  transform: translateY(-4px);
  font-size: 12px;
}

.button {
  margin-top: 32px;
  width: 100%;
}

.itemOptions {
  margin-top: 20px;
}

.option {
  display: flex;
  align-items: flex-start;
  margin-top: 20px;
}

.optionText {
  color: var(--wh-steel-70);
  font-size: 14px;
  line-height: 20px;
}

.icon {
  margin-right: 8px;
  color: var(--wh-green-60);
}

.alert {
  margin-top: 40px;
  display: flex;
  width: 100%;
  padding: 16px 24px;
  border-radius: 60px;
  background: #f5f4ef;
  border: 1px solid rgba(0, 0, 0, 0.06);

  @media (max-width: $bp-sm) {
    margin-top: 20p;
  }

  & span {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: var(--wh-steel-70);
  }
}

.bottomItems {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 24px;
  margin-top: 48px;

  @media (max-width: $bp-sm) {
    margin-top: 40px;
    grid-template-columns: 1fr;
  }
}

.bottomItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  width: 100%;
  border-radius: 20px;
  background-color: var(--wh-white);
  border: 2px solid var(--wh-black);
  justify-content: center;
  padding: 48px 32px;
  min-height: 230px;

  @media (max-width: $bp-sm) {
    border-radius: 16px;
    padding: 40px 20px;
  }

  & .bottomItemText {
    margin-top: 20px !important;
    color: var(--wh-steel-70);
    font-size: 16px !important;
    text-align: center;

    @media (max-width: $bp-sm) {
      font-size: 14px !important;
    }
  }
}

.bottomItems {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 24px;
  margin-top: 48px;

  @media (max-width: $bp-sm) {
    margin-top: 40px;
    grid-template-columns: 1fr;
  }
}

.bottomItemHeader {
  font-size: 32px !important;
  line-height: 44px !important;
}

.bottomButton {
  margin-top: 32px;
}
