@import 'styles/vars.scss';

.imageWrapper {
  display: flex;
  width: 100%;
  justify-content: flex-end;

  @media (max-width: $bp-sm) {
    justify-content: center;
  }

  & .inner {
    display: flex;
    position: relative;
  }

  & .imageBg {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  & .model {
    position: absolute;
    left: 50%;
    bottom: 0px;
    transform: translateX(-50%);
    width: 100%;
    height: 100%;
    z-index: 4;
  }

  & .topRight {
    position: absolute;
    top: 18%;
    right: -4%;
    width: 176px;
    height: 100px;
    z-index: 2;
    animation: downAndUp 5s linear infinite;

    @media (max-width: $bp-md) {
      width: 140px;
      height: 80px;
      right: 0%;
    }

    @media (max-width: 540px) {
      width: 120px;
      height: 64px;
    }
  }

  & .leftCenter {
    position: absolute;
    top: 40%;
    left: -14%;
    width: 180px;
    height: 92px;
    z-index: 2;
    transform: translateY(-60%);
    animation: downAndUp 6s linear infinite;

    @media (max-width: $bp-md) {
      width: 140px;
      height: 73px;
      left: 0%;
      z-index: 4;
    }

    @media (max-width: 540px) {
      width: 112px;
      height: 58px;
    }
  }

  & .bottomRight {
    position: absolute;
    bottom: 10%;
    right: -4%;
    width: 248px;
    height: 84px;
    z-index: 6;
    animation: downAndUp 7s linear infinite;

    @media (max-width: $bp-md) {
      width: 180px;
      height: 59px;
      right: 0%;
    }

    @media (max-width: 540px) {
      width: 160px;
      height: 52px;
    }
  }
}

.right {
  align-items: center;
}

.left {
  justify-content: center;
}

.subtext {
  margin-top: 20px;

  @media (max-width: $bp-sm) {
    align-items: center;
    text-align: center;
  }
}

.formWrapper {
  display: flex;
  width: 95%;
  margin-top: 32px;
  align-items: center;

  @media (max-width: $bp-sm) {
    flex-direction: column;
    width: 100%;
    justify-content: center;
  }
}

.input {
  border: 2px solid var(--wh-black);
  border-top-right-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
  border-right: 0px;
  background-color: var(--input-bg);

  @media (max-width: $bp-sm) {
    border-right: 2px solid var(--wh-black);
    border-top-right-radius: 60px !important;
    border-bottom-right-radius: 60px !important;
    text-align: center;
  }
}

.inputEl {
  @media (max-width: $bp-sm) {
    text-align: center;
  }
}

.button {
  border-top-left-radius: 0px !important;
  border-bottom-left-radius: 0px !important;

  @media (max-width: $bp-sm) {
    text-align: center;
    width: 100%;
    margin-top: 16px;
    border-top-left-radius: none;
    border-bottom-left-radius: none;

    border-top-left-radius: 60px !important;
    border-bottom-left-radius: 60px !important;
  }
}

@keyframes downAndUp {
  0% {
    transform: translateY(0px);
  }
  25% {
    transform: translateY(10px);
  }
  50% {
    transform: translateY(0px);
  }
  75% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0px);
  }
}
