.button {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 60px;
  outline: none;
  cursor: pointer;

  &.transparent {
    background: transparent;
    transition: 0.1s linear;
    border: 2px solid var(--wh-black);
    color: var(--wh-black);

    &:hover {
      background: rgba(0, 0, 0, 0.04);
      transition: 0.1s linear;
      color: var(--wh-black);
    }

    &:focus {
      box-shadow: 0px 0px 0px 2px var(--wh-blue-10);
    }
  }

  &.black {
    background: var(--wh-black);
    transition: 0.1s linear;
    border: 2px solid var(--wh-black);
    color: var(--wh-white);

    &:hover {
      background: var(--wh-neutral-90);
      transition: 0.1s linear;
    }

    &:focus {
      box-shadow: 0px 0px 0px 2px var(--wh-blue-10);
    }
  }
}

.left {
  margin-right: 8px;
}

.right {
  margin-left: 8px;
}

.text {
  font-size: 16px;
}
