.button {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  outline: none;
  cursor: pointer;

  &.transparent {
    background: var(--transparent-button-bg);
    transition: 0.1s linear;
    border: 2px solid var(--transparent-button-border);
    color: var(--transparent-button-color);

    &:hover {
      background: var(--transparent-button-bg-hover);
      transition: 0.1s linear;
    }

    &:focus {
      box-shadow: 0px 0px 0px 3px var(--wh-blue-10);
    }
  }

  &.black {
    background: var(--black-button-bg);
    transition: 0.1s linear;
    border: 2px solid var(--black-button-border);
    color: var(--black-button-color);

    &:hover {
      background: var(--black-button-bg-hover);
      transition: 0.1s linear;
    }

    &:focus {
      box-shadow: 0px 0px 0px 3px var(--wh-blue-10);
    }
  }

  &.white {
    background: var(--white-button-bg);
    transition: 0.1s linear;
    border: 2px solid var(--white-button-border);
    color: var(--white-button-color);

    &:hover {
      background: var(--white-button-bg-hover);
      transition: 0.1s linear;
    }

    &:focus {
      box-shadow: 0px 0px 0px 3px var(--wh-blue-10);
    }
  }

  &.flat {
    background: var(--flat-button-bg);
    transition: 0.1s linear;
    border: 2px solid var(--flat-button-border);
    color: var(--flat-button-color);

    &:hover {
      background: var(--flat-button-bg-hover);
      transition: 0.1s linear;

      & .text {
        text-decoration: underline;
      }
    }

    &:focus {
      box-shadow: none;
    }
  }
}

.left {
  margin-right: 8px;
}

.right {
  margin-left: 8px;
}

.text {
  font-size: 16px;
  white-space: nowrap;
}

.disabled {
  opacity: 0.5;
  pointer-events: none;
}
