@import 'styles/vars.scss';

.wrapper {
  padding-top: 120px;
  padding-bottom: 80px;

  @media (max-width: $bp-sm) {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.text {
  text-align: center;
  margin-top: 20px;
  max-width: 50%;

  @media (max-width: $bp-md) {
    max-width: 85%;
  }

  @media (max-width: $bp-sm) {
    max-width: 100%;
  }
}

.searchWrapper {
  display: flex;
  margin-top: 32px;
  width: 100%;
  justify-content: center;
}

.box {
  height: 52px;
  border: 2px solid var(--wh-black);
  display: flex;
  width: 100%;
  align-items: center;
  border-radius: 60px;
  cursor: pointer;
  padding: 14px 20px;
  flex-shrink: 0;
  width: max-content;

  &:first-child {
    margin-right: 12px;
  }

  transition: width 0.2s linear;

  &:hover {
    background-color: rgba(0, 0, 0, 0.04);
  }

  &.active {
    box-shadow: 0px 0px 0px 2px var(--wh-blue-10);
  }
}

.integrations {
  & .text {
    text-transform: capitalize;
    white-space: nowrap;
    margin-top: 0px;
    margin-left: 8px;
    margin-right: 12px;
    font-size: 16px;
    font-weight: 500;
    text-overflow: ellipsis;
    width: 100%;

    @media (max-width: $bp-sm) {
      overflow: hidden;
    }
  }

  @media (max-width: $bp-sm) {
    max-width: 220px;
  }
}

.chevronBottom {
  margin-left: auto;
}

.input {
  border: none;
  outline: none;
  background-color: transparent;
  font-size: 16px;
  line-height: 24px;
  margin-right: 12px;
  margin-left: 8px;
  padding-right: 8px;
  width: 100%;

  &::placeholder {
    color: var(--wh-steel-70);
  }
}

.closeIcon {
  right: 16px;
  position: absolute;
  color: var(--wh-steel-60);
}

.search {
  position: relative;

  @media (max-width: $bp-sm) {
    max-width: 220px;
  }
}

.popper {
  padding-top: 8px;
  padding-bottom: 8px;
  background-color: var(--wh-white);

  box-shadow: 0px -0.5px 4px rgba(0, 0, 0, 0.08),
    0px 0px 0.5px rgba(0, 0, 0, 0.16), 0px 4px 24px rgba(0, 0, 0, 0.08);
  border-radius: 16px;
}

.popperItem {
  padding: 8px 16px;
  display: flex;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  @media (min-width: $bp-md) {
    min-width: 320px;
  }

  &:hover {
    background-color: var(--wh-neutral-0);
  }

  &:active {
    background-color: var(--wh-active-0);
  }
}

.icon {
  margin-left: auto;
}
