@import 'styles/vars.scss';

.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;

  &.maxHeight {
    min-height: 648px;

    @media (min-height: 1000px) {
      min-height: 700px;
    }
  }
}

@media (max-width: $bp-sm) {
  .wrapper {
    grid-template-columns: 1fr;
  }
}

.left {
  display: flex;
  flex-direction: column;
}

.right {
  display: flex;
  flex-direction: column;
}

@media (max-width: $bp-sm) {
  .orderSecond {
    order: 2;
  }
  .orderFirst {
    order: 1;
  }
}

.purpleBg {
  background-color: var(--wh-purple-5);
}
