@import 'styles/vars.scss';

.wrapper {
  z-index: 1000;
  display: flex;
  align-items: center;
  width: 100%;
  background-color: var(--main);
  height: var(--navbar-height);
  position: fixed !important;
  left: 0;
  top: 0;

  &.scrolled {
    &.closed {
      border-bottom: 1px solid rgba(0, 0, 0, 0.06);
    }
  }

  @media (max-width: $bp-sm) {
    height: var(--navbar-height-sm);
  }
}

.logo {
  display: flex;
  width: 100%;
}

.inner {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.buttons {
  display: flex;

  @media (max-width: $bp-lg) {
    display: none;
  }
}

.logoInner {
  & svg {
    width: 126px;
    height: 28px;
  }
}

.linksWrapper {
  display: flex;
  align-items: center;
}

.links {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(5, minmax(min-content, 60px));
  margin-left: 48px;
  gap: 16px;

  @media (max-width: $bp-lg) {
    display: none;
  }
}

.dropdown {
  cursor: pointer;
  padding: 4px 8px;
  display: flex;
  align-items: center;
}

.text {
  font-weight: 500 !important;
  font-size: 16px !important;
  margin-top: 0px;
  user-select: none;

  &.marginRight {
    margin-right: 4px;
  }
}

.link {
  display: flex;
  align-items: center;
  padding: 12px;
  border-radius: 12px;

  & .linkText {
    margin-top: 0px !important;
    margin-left: 12px;
    white-space: nowrap;
  }

  &:hover {
    background-color: var(--wh-neutral-0);
  }

  &:active {
    background-color: var(--wh-steel-0);
  }
}

.dropdownWrapper {
  display: flex;
  position: relative;
  z-index: 10;
  width: max-content;
}

.menu {
  background-color: var(--wh-white);
  position: absolute;
  box-shadow: 0px 0px 0px 1px #e9ebed;
  filter: drop-shadow(0px 16px 40px rgba(0, 0, 0, 0.28));
  border-radius: 24px;
  top: 56px;
  transform: translateX(-50%);
  left: 50%;
  padding: 12px;
}

.tip {
  position: absolute;
  top: 0px;
  left: 50%;
  transform: translate(-50%, -14px);
}

.hamburger {
  display: none;

  @media (max-width: $bp-lg) {
    display: block;
  }
}

// Small

.navbarSmall {
  z-index: 1001;
  height: calc(100vh - var(--navbar-height-sm));
  width: 100vw;
  background-color: var(--main);
  position: fixed;
  left: 0;
  top: var(--navbar-height-sm);
  padding: 8px 24px;
  flex-direction: column;
  overflow-y: auto;

  display: none;
  @media (max-width: $bp-lg) {
    display: flex;
  }
}

.smallItem {
  display: flex;
  align-items: center;
  width: 100%;
}

.smallText {
  margin-top: 0px;
  font-size: 20px !important;
  font-weight: 500 !important;
}

.smallIcon {
  margin-left: auto;
}

.smallItemWrapper {
  display: flex;
  width: 100%;
  padding: 16px 0px;
  cursor: pointer;
  border-bottom: 1px solid rgba(0, 0, 0, 0.06);
}

.navigationMenu {
  margin-top: 12px;
  padding-bottom: 12px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.06);
}

.navigationMenuItem {
  display: flex;
  align-items: center;
  padding: 12px 16px;
  border-radius: 12px;
  cursor: pointer;

  &:hover {
    background-color: var(--wh-neutral-0);
  }

  &:active {
    background-color: var(--wh-steel-0);
  }
}

.navigationMenuItemIcon {
  margin-right: 12px;
}

.navigationMenuItemText {
  margin-top: 0px !important;
}

.navbarContainer {
  @media (max-width: $bp-sm) {
    padding-right: 12px;
  }
}
