@import 'styles/vars.scss';

.wrapper {
  display: flex;
  align-items: center;
  width: 100%;
  background-color: var(--main);
  height: var(--navbar-height);

  @media (max-width: $bp-sm) {
    height: var(--navbar-height-sm);
  }
}

.logo {
  display: flex;
  width: 100%;
}

.inner {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.buttons {
  display: flex;

  @media (max-width: $bp-lg) {
    display: none;
  }
}

.logoInner {
  & svg {
    width: 126px;
    height: 28px;
  }
}
