@import 'styles/vars.scss';

.wrapper {
  display: flex;
  align-items: center;
  width: 100%;
  background-color: var(--main);
  height: var(--navbar-height);

  @media (max-width: $bp-sm) {
    height: var(--navbar-height-sm);
  }
}

.logo {
  display: flex;
  width: 100%;
}

.inner {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.buttons {
  display: flex;

  @media (max-width: $bp-lg) {
    display: none;
  }
}

.logoInner {
  & svg {
    width: 126px;
    height: 28px;
  }
}

.linksWrapper {
  display: flex;
  align-items: center;
}

.links {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(5, minmax(min-content, 60px));
  margin-left: 48px;
  gap: 16px;

  @media (max-width: $bp-lg) {
    display: none;
  }
}

.dropdown {
  cursor: pointer;
  padding: 4px 8px;
  display: flex;
  align-items: center;
}

.text {
  font-weight: 500 !important;
  font-size: 16px !important;
  margin-top: 0px;
  user-select: none;

  &.marginRight {
    margin-right: 4px;
  }
}

.link {
  display: flex;
  align-items: center;
  padding: 12px;
  border-radius: 12px;

  & .linkText {
    margin-top: 0px !important;
    margin-left: 12px;
    white-space: nowrap;
  }

  &:hover {
    background-color: var(--wh-steel-0);
  }

  &:active {
    background-color: var(--wh-steel-0);
  }
}

.dropdownWrapper {
  display: flex;
  position: relative;
  z-index: 10;
  width: max-content;
}

.menu {
  background-color: var(--wh-white);
  position: absolute;
  box-shadow: 0px 0px 0px 1px #e9ebed;
  filter: drop-shadow(0px 16px 40px rgba(0, 0, 0, 0.28));
  border-radius: 24px;
  top: 64px;
  transform: translateX(-50%);
  left: 50%;
  padding: 12px;
}

.tip {
  position: absolute;
  top: 0px;
  left: 50%;
  transform: translate(-50%, -14px);
}
