@import 'styles/vars.scss';

.subtext {
  margin-top: 20px;
  max-width: 85%;

  @media (max-width: $bp-sm) {
    align-items: center;
    text-align: center;
    max-width: 100%;
  }
}

.button {
  margin-top: 32px;
}

.left {
  justify-content: center;
  padding-right: 96px;

  @media (max-width: $bp-md) {
    padding-right: 60px;
  }

  @media (max-width: $bp-sm) {
    padding-right: 0px;
  }
}

.imageWrapper {
  display: flex;
  width: 100%;
  justify-content: center;

  & .inner {
    display: flex;
    position: relative;
  }

  & .imageBg {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

.wrapper {
  margin-top: 40px;
}
