@import 'styles/vars.scss';

.wrapper {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  justify-content: center;
  padding-top: 80px;
  padding-bottom: 80px;
  background-color: var(--purple-bg);
}

.quote {
  font-size: 32px !important;
  line-height: 44px !important;
  text-align: center;

  @media (max-width: $bp-sm) {
    line-height: 32px !important;
  }
}

@media (max-width: $bp-sm) {
  .quote {
    font-size: 24px !important;
    line-height: 32px;
  }
  .wrapper {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image {
  margin-top: 40px;
  width: 88px;
  height: 84px;
}

.title {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px !important;
  margin-bottom: 0px;
  margin-top: 1rem;
}

.position {
  color: var(--subtext);
  margin-top: 4px;
  font-weight: 400;
  font-size: 14px !important;
  line-height: 20px;
}
