@import 'styles/vars.scss';

.subtext {
  margin-top: 20px;
  max-width: 85%;

  @media (max-width: $bp-sm) {
    align-items: center;
    text-align: center;
    max-width: 100%;
  }
}

.button {
  margin-top: 32px;
}

.left {
  justify-content: center;

  @media (max-width: $bp-md) {
    padding-right: 60px;
  }

  @media (max-width: $bp-sm) {
    padding-right: 0px;
  }
}

.imageWrapper {
  display: flex;
  width: 100%;
  justify-content: flex-end;

  & .inner {
    display: flex;
    position: relative;
  }

  & .imageBg {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  @media (max-width: $bp-sm) {
    justify-content: center;
  }
}

.right {
  align-items: flex-end;

  @media (max-width: $bp-sm) {
    justify-content: center;
  }
}

.bg {
  background-color: var(--wh-blue-5);
  border-radius: 40px;
  padding-left: 80px;
  padding-right: 80px;
  margin-top: 20px;
  margin-bottom: 120px;

  @media (max-width: $bp-sm) {
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 0px;
    margin-bottom: 60px;
  }
}
